/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
	--primary-color: #bbdb9b;
	--secondary-color: #fffbfc;
	--primary-dark-color: #010400;
	--secondary-dark-color: #30332e;
	--divider-color: #8d9d90;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
}

.lucky-brand-color {
	color: var(--primary-color);
}

.secondary-lucky-brand-color {
	color: var(--secondary-color);
}

.dark-lucky-brand-color {
	color: var(--primary-dark-color);
}

.dark-secondary-lucky-brand-color {
	color: var(--secondary-dark-color);
}

.bg-lucky-brand-color {
	background-color: var(--primary-color);
}

.bg-secondary-lucky-brand-color {
	background-color: var(--secondary-color);
}

.bg-dark-primary-lucky-brand-color {
	background-color: var(--primary-dark-color);
}

.bg-dark-secondary-lucky-brand-color {
	background-color: var(--secondary-dark-color);
}

.nav-pills .nav-link.active {
	background-color: var(--primary-color) !important;
	color: var(--secondary-color) !important;
}

.divider {
	width: 140px;
	height: 8px;
	border-radius: 50px;
	background-color: var(--divider-color);
	margin: 10px auto;
}

/* Animation */

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.hvr-glow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	-webkit-transition-property: -webkit-box-shadow;
	transition-property: -webkit-box-shadow;
	-o-transition-property: box-shadow;
	transition-property: box-shadow;
	transition-property: box-shadow, -webkit-box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	-webkit-transition-property: -webkit-box-shadow, -webkit-transform;
	transition-property: -webkit-box-shadow, -webkit-transform;
	-o-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
	transition-property: box-shadow, transform, -webkit-box-shadow,
		-webkit-transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
	-webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.button-outline {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	font-weight: 600;
}

.button-outline:hover {
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	color: var(--secondary-color);
	-webkit-transition-duration: 0.3s;
}

[class^="imghvr-"],
[class*=" imghvr-"] {
	position: relative;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	background-color: transparent;
	color: var(--primary-color);
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

[class^="imghvr-"] > img,
[class*=" imghvr-"] > img {
	vertical-align: top;
	max-width: 100%;
}

[class^="imghvr-"] figcaption,
[class*=" imghvr-"] figcaption {
	background-color: var(--secondary-dark-color);
	padding: 30px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: var(--secondary-color);
}

[class^="imghvr-"] figcaption h1,
[class^="imghvr-"] figcaption h2,
[class^="imghvr-"] figcaption h3,
[class^="imghvr-"] figcaption h4,
[class^="imghvr-"] figcaption h5,
[class^="imghvr-"] figcaption h6,
[class*=" imghvr-"] figcaption h1,
[class*=" imghvr-"] figcaption h2,
[class*=" imghvr-"] figcaption h3,
[class*=" imghvr-"] figcaption h4,
[class*=" imghvr-"] figcaption h5,
[class*=" imghvr-"] figcaption h6 {
	color: var(--secondary-color);
}

[class^="imghvr-"] a,
[class*=" imghvr-"] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

[class^="imghvr-"],
[class*=" imghvr-"],
[class^="imghvr-"]:before,
[class^="imghvr-"]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^="imghvr-"] *,
[class*=" imghvr-"] *,
[class^="imghvr-"] *:before,
[class^="imghvr-"] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.imghvr-blur figcaption {
	opacity: 0;
}

.imghvr-blur:hover > img {
	-webkit-filter: blur(30px);
	filter: blur(30px);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 0;
}

.imghvr-blur:hover figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.21s;
	-o-transition-delay: 0.21s;
	transition-delay: 0.21s;
}

/* Hero */

#lucky-name {
	color: var(--secondary-color);
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
}

#greeting-container {
	margin-top: 25%;
}

.navbar-brand {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: var(--primary-dark-color);
}

.nav-link {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 35px;
	color: var(--primary-dark-color) !important;
}

.jumbotron.hero {
	height: 640px;
	background: var(--secondary-dark-color);
}

/* About Section */

#about-section,
#about {
	margin-top: -3%;
	width: 100%;
	background-color: var(--secondary-color);
}

#about-container {
	margin-top: 10%;
}

/* Experiance Section */

#experiance-section,
#experiance {
	margin-top: -3%;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-dark-color);
}

.box-container-experiance {
	background-color: var(--secondary-color);
}

/* Project Section */

#project-section,
#project {
	margin-top: -3%;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
}

/* Contact Section */

#contact-section,
#contact {
	margin-top: -3%;
	width: 100%;
	background-color: var(--secondary-dark-color);
}

#contact-container {
	margin-top: 10%;
}

#map {
	height: 450px;
}

@media only screen and (max-width: 576px) {
	.menu {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.social-media {
		margin: auto;
	}

	#lucky-name {
		padding: 0 20%;
	}
}

/* Super Small Mobile */
@media only screen and (min-width: 320px) {
	#contact-section,
	#contact {
		height: 75em;
	}

	.box-container-experiance {
		margin-top: 20px;
		height: 550px;
	}

	figure figcaption {
		overflow-y: scroll;
		overflow-x: hidden;
		height: auto;
	}

	#about-section #about .skill-icon{
		width: 60%;
	}

	#about-section #about .laravel-icon, #about-section #about .bootstrap-icon, #about-section #about .codeigniter-icon{
		width: 35%;
	}

	#greeting-text,
	#lucky-name,
	#button-cta-container {
		text-align: center;
	}

	#button-cta {
		text-align: center;
		display: inline-block;
		margin: 0 auto;
	}

	#button-cta-container {
		margin-top: 20px;
	}
}

/* Small Mobile */
@media only screen and (min-width: 360px) {
	.box-container-experiance {
		margin-top: 20px;
		height: 600px;
	}
}

/* Mobile */
@media only screen and (min-width: 576px) {
	#contact-section,
	#contact {
		height: 45em;
	}

	#experiance-section,
	#experiance {
		height: 65em;
	}

	.box-container-experiance {
		height: 750px;
	}

	#about-section #about .skill-icon{
		width: 100%;
	}

	#about-section #about .laravel-icon, #about-section #about .bootstrap-icon, #about-section #about .codeigniter-icon{
		width: 50%;
	}
}

/* Tablet */
@media only screen and (min-width: 768px) {
	#my-image-container {
		position: absolute;
		width: 100%;
		height: 500px;
		background-image: url("../img/me.webp");
		background-repeat: no-repeat;
		mix-blend-mode: lighten;
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
	}

	#about-section,
	#about {
		height: 100%;
	}

	#about-section #about .skill-icon{
		width: 95%;
	}

	#about-section #about .laravel-icon, #about-section #about .bootstrap-icon, #about-section #about .codeigniter-icon{
		width: 40%;
	}
	
	#contact-section,
	#contact {
		height: 50em;
	}

	.box-container-experiance {
		height: 550px;
	}

	#experiance-section,
	#experiance {
		height: 100%;
	}

	#lucky-name,
	#greeting-text,
	#button-cta-container {
		text-align: left;
	}

	#lucky-name {
		font-size: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	#button-cta {
		text-align: center;
		display: inline-block;
		margin: 0 auto;
	}

	#button-cta-container {
		margin-top: 20px;
	}
}

/* Desktop */
@media only screen and (min-width: 992px) {
	.box-container-experiance {
		height: 500px;
	}

	.box-container-experiance a {
		margin-top: 10%;
	}

	.imghvr-blur figcaption {
		overflow: hidden;
	}

	#about-section,
	#about {
		height: 100vh;
	}

	#about-section #about .skill-icon{
		width: 50%;
	}

	#about-section #about .laravel-icon, #about-section #about .bootstrap-icon, #about-section #about .codeigniter-icon{
		width: 30%;
	}
}
